:root {
  interpolate-size: allow-keywords;
}

.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  justify-content: space-between;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}


.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
  /* border-top: 0.1rem solid rgba(var(--color-foreground), 0.08); */
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  margin: 0;
  word-break: break-word;
  font-weight: 400;
  font-size: 20px;
  line-height: 30.4px;
  letter-spacing: 0;
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary > .faqs__mark::after {
  transform: translateX(-50%) rotate(90deg);
}

.accordion__content {
  word-break: break-word;
  overflow-x: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  max-width: 66rem;
}

details {
  overflow: hidden;
}

details::details-content {
  margin-top: 0;
  block-size: 0;
  transition: block-size 0.3s, content-visibility 1s, margin 0.3s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
  margin-top: 1.5rem;
}

.accordion__content img {
  max-width: 100%;
}

.faqs__mark {
    position: relative;
    width: 13.75px;
    height: 13.75px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
  }

  .faqs__mark::before, .faqs__mark::after {
    content: "";
    position: absolute;
    background: #000000;
    transition: transform 0.3s ease;
  }
  .faqs__mark::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    transform: translateY(-50%);
  }
  .faqs__mark::after {
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%) rotate(0deg);
  }

@media screen and (min-width: 990px) {
  .accordion__title {
    font-size: 26px;
    line-height: 38px;
  }
}